<ion-header class="ion-no-border">
  <ion-toolbar class="header" slot="start">
    <ion-title>Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <ion-list lines="none">
    <ion-item>
      <ion-text color="white">
        Tarefa 1
      </ion-text>
      <ion-buttons slot="end">
        <ion-button expand="block" class="button button--transparent" (click)="setOpen(true)">Detalhes</ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-text color="white">
        Tarefa 2
      </ion-text>
      <ion-buttons slot="end">
        <ion-button expand="block" class="button button--transparent" (click)="setOpen(true)">Detalhes</ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-text color="white">
        Tarefa 3
      </ion-text>
      <ion-buttons slot="end">
        <ion-button expand="block" class="button button--transparent" (click)="setOpen(true)">Detalhes</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
