/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import '@ionic/angular/css/palettes/dark.system.css';

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  --padding-top: 30px;
  --background: rgb(242,112,25) !important;
  --background: var(--ion-color-light) !important;
  --padding-start: 20px;
  --padding-end: 20px;
  text-align: left;
}

.home-container {
  --background: url('./assets/images/home.jpg') 0 0/100% 100% no-repeat !important;
}

.header {
  --background: transparent;
  --opacity: 1;
  --padding-top: 10px;
  --padding-bottom: 10px;

  ion-title {
    font-weight: 500;
    text-transform: uppercase;
    --color: var(--ion-color-primary);
  }
}

.button {
  font-size: 12px;
  text-transform: uppercase;
  --background: #1F1F1F;
  --color: #FFFFFF;
  --padding-start: 30px !important;
  --padding-end: 30px !important;
  --border-radius: 50px !important;

  ion-icon {
    color: #FFFFFF;
  }

  &--transparent {
    --background: transparent;
    --color: #FFFFFF;
    --border-width: 1px;
    --border-color: #FFFFFF;
    --border-style: solid;
  }
}